<div class="d-flex flex-column gap-5 my-4" style="min-height: 100vh;">
    <h3 class="mx-auto">Dashboard</h3>
    <div class="mx-auto d-flex flex-column d-sm-flex flex-sm-row">

        <a routerLink="users" class="card bg-light mb-3 mx-2 scale-up"
            style="max-width: 18rem; min-height: 18rem;text-decoration: none; color: black;">
            <div class="card-body">
                <h5 class="card-title">Approve User</h5>
                <p class="card-text mt-4">You can approve users in the waitlist to book their vaccine appointments.</p>
                <section class="d-flex mt-5">
                    <img class="mx-auto" src="../../assets/icons/person-checkmark-svgrepo-com.svg" width="50px" />
                </section>
            </div>
        </a>
        <a routerLink="vaccinestatus" class="card bg-light mb-3 mx-2 scale-up"
            style="max-width: 18rem;min-height: 18rem; text-decoration: none; color: black;">
            <div class="card-body">
                <h5 class="card-title">Update vaccination status</h5>
                <p class="card-text mt-4">You can update vaccination status of users whose appointment date is today.
                </p>
                <section class="d-flex mt-5">
                    <img class="mx-auto" src="../../assets/syringe.png" width="50px" />
                </section>
            </div>
        </a>
        <a routerLink="centers" class="card bg-light mb-3 mx-2 scale-up"
            style="max-width: 18rem;min-height: 18rem; text-decoration: none; color: black;">
            <div class="card-body">
                <h5 class="card-title">View vaccine centers</h5>
                <p class="card-text mt-4">You can update center information such as vaccine stock, center name, etc.
                </p>
                <section class="d-flex mt-5">
                    <img class="mx-auto" src="../../assets/icons/pencil-2.svg" width="50px" />
                </section>
            </div>
        </a>
    </div>
</div>