<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="about-title text-center mb-5">
                <h6 class="text-primary text-uppercase">About Us</h6>
                <h3 class="title-heading">We're a dynamic team of CSD Interns at Cognizant</h3>
                <div class="title-border"></div>
                <p class="text-muted pt-3 mx-md-5">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard.</p>
            </div>
            <!--end about-title-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center mb-4 pb-2">
                <ul class="nav nav-pills about-tab" id="aboutus" role="tablist">

                    <!--end nav-item-->
                    <li class="nav-item mx-3 " role="presentation">
                        <button class="nav-link rounded-3 active" id="vision-tab" data-bs-toggle="pill"
                            data-bs-target="#vision" type="button" role="tab" aria-controls="vision"
                            aria-selected="false">Vision</button>
                        <!--end nav-link-->
                    </li>
                    <!--end nav-item-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-3 " id="mission-tab" data-bs-toggle="pill"
                            data-bs-target="#mission" type="button" role="tab" aria-controls="mission"
                            aria-selected="true">Mission</button>
                        <!--end nav-link-->
                    </li>
                    <!--end nav-item-->
                </ul>
                <!--nav-->
            </div>

            <div class="tab-content about-content" id="tabContent">
                <div class="tab-pane fade active show" id="vision" role="tabpanel" aria-labelledby="vision-tab">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="card border-0 p-3 me-lg-4">
                                <h4 class="about-title">Vision</h4>
                                <ul class="mt-3">
                                    <li>
                                        To create a web application that streamlines the process of booking vaccinations
                                        for individuals in India
                                    </li>
                                    <li>
                                        To provide a user-friendly platform with easy access to information and booking
                                        options, including the ability to choose the type of vaccine
                                    </li>
                                    <li>
                                        To offer an administrative portal for designated individuals to manage vaccine
                                        stock information
                                    </li>
                                    <li>
                                        To enhance the user experience and make the booking process more efficient and
                                        accessible, helping to overcome the challenges of the ongoing pandemic.
                                    </li>
                                </ul>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-md-5">
                            <div class="vision-img text-lg-end text-center mb-4 mb-lg-0">
                                <img src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo="
                                    alt="vision" class="img-fluid">
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end vision-tab-->
                <div class="tab-pane fade mission-tab" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="mission-img text-lg-end text-center mb-4 mb-lg-0">
                                <img src="https://ysm-res.cloudinary.com/image/upload/ar_16:9,c_fill,dpr_3.0,f_auto,g_faces:auto,q_auto:eco,w_500/v1/yms/prod/da871803-afd1-4284-af61-e87314b6acad"
                                    alt="mission" class="img-fluid">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-7">
                            <div class="card border-0 p-3 ms-lg-4">
                                <h4 class="mb-4 pb-2 about-title">Our Mission</h4>

                                <p>
                                    Our objective is to simplify and improve the process of booking vaccinations for
                                    individuals in India. By providing a user-friendly web-based platform, we aim to
                                    make it easier for people to locate and secure their desired vaccine appointment.
                                    The information of vaccinated individuals will be securely stored and follow-up
                                    appointments will be automatically scheduled for added convenience.
                                </p>
                                <p>
                                    Through our administrative portal, we aim to ensure the availability of vaccines at
                                    various centers and maintain transparency in updating vaccine stock information. Our
                                    goal is to enhance the user experience by streamlining the process of booking a
                                    vaccine appointment, compared to other similar platforms.
                                </p>
                                <p>

                                    In a nutshell, our mission is to provide an efficient, convenient, and secure
                                    solution
                                    for individuals to book their vaccine appointments, ensuring a smoother and faster
                                    path
                                    to vaccination.
                                </p>
                                <!--end mission-box-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end mission-tab-->
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<hr />
<div class="accordion justify-content-center mx-auto" id="accordionPanelsStayOpenExample" style="max-width: 80%;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="about-title text-center mb-5">
                <h6 class="text-primary text-uppercase">Frequently Asked Questions</h6>
                <h3 class="title-heading">Below are some of the most commonly raised questions</h3>
            </div>
            <!--end about-title-->
        </div>
        <!--end col-->
    </div>
    <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <a class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                What is Covid Vaccine Scheduler about?
            </a>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                How can a user register?
            </a>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Do I need my Aadhar Card details while registering?
            </a>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>