<section class="page_404">
	<div class="container text-center">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="align-items-center" >
			<h1 class="text-center"> &#9888;SERVER NOT FOUND</h1>
            <img class="four_zero_four_bg" />
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're not connected to server
		</h3>
		
		<p>Page you are looking got quarantined because of Internal Server Error!</p>
		
		<a routerLink="/home" routerLinkActive="active-link"
                    ariaCurrentWhenActive="page" class="link_404">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	
</section>